body {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
.convivaAIChatWindow {
    width: 320px;
    height: 480px;
    position: absolute;
    bottom: 0px;
    right: 29px;
    border-radius: 9px 9px 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.convivaAIChatHeader {
    padding: 15px 20px;
    background-color: #6da927;
    border-radius: 9px 9px 0px 0px;
}
.convivaAIChatHeaderMinimizeButton {
    border: 0px; 
    background-color: #6da927;
    float: right;
    padding-top: 5px;
    color: #FFFFFF;
}
.convivaWelcomeBanner {
    background-image: url('./assets/convivaBackground.png');
    background-repeat: no-repeat;
    height: 140px;
    padding: 20px;
    background-size: cover;
}
.convivaButton {
    background-color: #FFFFFF; 
    border-radius: 3px; 
    border: 1px solid #9cdc00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin: 2px; 0px;
}
.convivaButtonInputContainer{
    padding: 20px;
}
.convivaButtonContainer {
    text-align: right;
}
.convivaSearchInput {
    position: absolue;
    bottom: 0px;
}
