body {
    font-family: Arial, sans-serif;
}
h1 {
    color: blue;
}
.convivaAIChatWindow {
    width: 320px;
    height: 402px;
    border: 1px solid black;
    position: absolute;
    bottom: 0px;
    right: 29px;
    border-radius: 9px 9px 0px 0px;
}
.convivaAIChatHeader {
    padding: 15px 20px;
    border: 1px solid black;
    background-color: #6da927;
    color: #FFFFFF;
    border-radius: 9px 9px 0px 0px;
}
.convivaAIChatHeaderMinimizeButton {
    border: 0px; 
    background-color: #6da927;
    color: #FFFFFF;
    float: right;
    padding-top: 5px;
}
.convivaWelcomeBanner {
    background-image: url('./assets/convivaBackground.png');
    background-repeat: no-repeat;
    height: 125px;
}
